<div class="row">
  <h2>Recent Posts</h2>
  <% if (posts && posts.length > 0) { %>
  <ul>
    <% posts.forEach(post => { %>
    <li><%- include('./post-card', {post}) %></li>
    <% }) %>
  </ul>
  <% } else { %>
  <p>There aren't any posts yet.</p>
  <p>Be the first!</p>
  <% if (currentUser) { %>
  <a href="/new-post" class="btn">Write a Post!</a>
  <% } else { %>
  <a href="/signup" class="btn">Signup</a>
  <% }} %>
</div>
