<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="container center-align">
        <% if (locals.currentUser) { %>
        <div class="row">
          <div class="col s12 input-field">
            <a class="btn" href="/new-post">Create New Post</a>
          </div>
          <div class="col s12 input-field">
            <a class="btn" href="/user">User Page</a>
          </div>
        </div>
        <% } else { %>
        <div class="row">
          <div class="col s12 input-field">
            <a href="/login" class="btn">Login</a>
          </div>
        </div>
        <% } %>

        <div class="row">
          <h2>Recent Posts</h2>
          <% if (posts && posts.length > 0) { %>
          <ul>
            <% posts.forEach(post => { %>
            <li><%- include('./partials/post-card', {post}) %></li>
            <% }) %>
          </ul>
          <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
