@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body {
  font: 14px 'Quicksand', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

a {
  color: #00b7ff;
}

.rounded {
  border-radius: 1rem !important;
}
